div.card {
    margin: auto;
    display: flex;
    background: #dc984e;
    width: 100%;
    padding: '30px';
    border: 4px solid #da2f47;
}

#header {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
      
}

h1.card-title {
    text-align: center;
    font-weight: bolder;
    font-size: 70px;
    color: #da2f47;
    font-family: 'Acme', sans-serif;
}

